:root {
    --primary-color: #f8d7da;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  body {
    margin: 60px auto;
    max-width: 100%;
    height: auto;
  }
  
  h1,
  h2,
  h3,
  h6 {
    text-align: center;
    margin: 0;
  }
  
  h1{  font-size: 96px!important}

  
  h2,
  h4,
  h5 {
    font-size: 48px !important;
  }
  
  h3{
    font-size: 24px;
    opacity: 0.7;
  }
  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  .container-about{
    max-width: 900px;
    margin: 0 auto;
display: flex; 
justify-content:space-evenly;
flex-wrap: wrap;}
  
.container-about img{width: 450px;
height: 450px;
object-fit: contain;
background: var(--primary-color);
margin: 10px;}
@media (max-width: 800px) {
  .container-about {
     
    
    height: auto;
   max-width:576px;
  }
.row{

align-items: center;
flex-direction: column;
width: fit-content;
height: auto;
max-width: 500px;


}
  .container-about img {
 

 display: flex;
 margin: 0 0 0 0;
 justify-content: center;
 align-items: center;
 width: 499px ;

  }
  h1.homepage, h4, h5, h6{font-size: 32px!important;
  text-align: center;
}

    h3{font-size: 24px!important;
  margin: 0;
text-align: center;}
.about-paragraphs{ padding-left: 10px;
padding-right: 10px;
font-size: 18px;}

h1.about, h2{font-size: 48px!important;
text-align: center;
}


}
@media(max-width: 768px){
  button.specific-launch{
    width: 300px;
 max-width: 100%;
height: auto;
display: block;
margin: 0 auto!important;
}
p{text-align: center;}}

  p{
   
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
  }
  p.about {

    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin:0 auto;
  }
  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .about-link {
    color: var(--primary-color);
    font-weight: bold;
    border: 5px dotted var(--primary-color);
    border-radius: 5px !important;
  }




  
  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
  }
  a:hover {
    color: #58151c;
  }
  button:hover {
    color: #58151c;
  }
  .about-paragraphs {
    display: flex;
margin: 0 auto;
max-width: 1700px;
justify-content: center;
line-height: 2;
padding-bottom: 20px;
  }
  

  
  
  .email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }
  .launch-button {
    font-family: var(--bs-font-sans-serif);
    border-radius: 4px;
  }